name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Frontend
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/project/SafeKeyz-Frontend
            git pull origin main

            cd /home/ubuntu/project/infra
            docker compose -f docker-compose.prod.yml down
            docker compose -f docker-compose.prod.yml up -d --build